@model IEnumerable<HotelReservation.Models.SearchList>

@{
    ViewBag.Title = "Search";
}

<h2>Available Rooms</h2>

<table class="table">


    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ARRIVAL_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTURE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROOM_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROOM_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAX_GUEST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISCOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROOM_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_ROOMS)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.ARRIVAL_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTURE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROOM_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROOM_PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAX_GUEST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISCOUNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROOM_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_ROOMS)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>*@
        <td>
            @Html.ActionLink("Book Now", "Booking", "Reservation", new {ArrivalDate = item.ARRIVAL_DATE, DepertureDate = item.DEPARTURE_DATE, RoomID = item.ROOM_ID}, null) 
            
        </td>
    </tr>
}



</table>
