@model HotelReservation.Models.ROOM_DETAILS

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ROOM_DETAILS</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ROOM_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ROOM_ID)
                @Html.ValidationMessageFor(model => model.ROOM_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ROOM_TYPE, "ROOM_TYPE", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ROOM_TYPE", String.Empty)
                @Html.ValidationMessageFor(model => model.ROOM_TYPE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TOTAL_ROOMS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TOTAL_ROOMS)
                @Html.ValidationMessageFor(model => model.TOTAL_ROOMS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STATUS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STATUS)
                @Html.ValidationMessageFor(model => model.STATUS)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
