@model HotelReservation.Models.ADMIN_PROFILE

@{
    ViewBag.Title = "Edit";
}
<div class="row-fluid">
    <div class="span12" id="content">
        <hr />
        <div class="row-fluid">
            <div class="span3">
            </div>
            <div class="span5">
                <h2 align="middle"> Admin Profile Management </h2>
            </div>
            <div class="span5">
                @if (ViewBag.Message != null)
                {
                    <h3 align="middle" style="color:green;">@ViewBag.Message</h3>
                }
            </div>
        </div>
        <hr />
    </div>

    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span9">
            <div class="row-fluid">
                <!-- block -->
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <h3>Edit Profile....</h3>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.USER_ID)


                                <div class="form-horizontal">
                                    <br />
                                    <br />
                                    <br />
                                    <div class="control-group">

                                        <div class="control-group">
                                            <label class="control-label">First Name</label>
                                            <div class="controls">
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.FIRST_NAME)
                                                    @*@Html.ValidationMessageFor(model => model.FIRST_NAME)*@


                                                </div>
                                            </div>

                                        </div>
                                        <label class="control-label">Last Name</label>
                                        <div class="controls">
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.LAST_NAME)
                                                @*@Html.ValidationMessageFor(model => model.LAST_NAME)*@


                                            </div>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Phone</label>
                                        <div class="controls">
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PHONE_NO)
                                                @Html.ValidationMessageFor(model => model.PHONE_NO)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Email</label>
                                        <div class="controls">
                                            <input name="Email" value="@Model.EMAIL" class="input-xlarge" type="email" placeholder="Email" />
                                        </div>
                                    </div>                                
                                     
                                    <div class="control-group">
                                        <label class="control-label">Password</label>
                                        <div class="controls">
                                            <input name="Password" value="@Model.PASSWORD" class="input-xlarge" type="password" placeholder="Password" />
                                        </div>
                                    </div>

                                    <br>
                                    </br>

                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <a href="/Index/Home?UserID=@Model.USER_ID" class="btn ">Cancel</a>
                                    </div>



                                </div>

                            }
                        </div>
                    </div>
                </div>
                <!-- /block -->
            </div>

        </div>
        <div class="span3">
        </div>
    </div>
</div>
@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ADMIN_PROFILE</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        @Html.HiddenFor(model => model.USER_ID)    
        <div class="form-group">
            @Html.LabelFor(model => model.FIRST_NAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FIRST_NAME)
                @Html.ValidationMessageFor(model => model.FIRST_NAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LAST_NAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LAST_NAME)
                @Html.ValidationMessageFor(model => model.LAST_NAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PHONE_NO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PHONE_NO)
                @Html.ValidationMessageFor(model => model.PHONE_NO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMAIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMAIL)
                @Html.ValidationMessageFor(model => model.EMAIL)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PASSWORD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PASSWORD)
                @Html.ValidationMessageFor(model => model.PASSWORD)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@

<div>
    @Html.ActionLink("Back to List", "Index","Home")
</div>
